/*
 *    This file is part of QForms
 *
 *    qForms is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    qForms is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with qForms.  If not, see <http://www.gnu.org/licenses/>.
 */
body,td,th { font: normal 8pt sans-serif; }
body { margin: 0; padding:0; }

input,textarea,select,checkbox { padding: 2px; font-size: 10pt; }

.xfABMDataRow1      { background-color: #EEEEEE; }
.xfABMDataRow2      { background-color: #DDDDDD; }
.xfABMTypeInteger   { text-align: right; color: blue; }
.xfABMTypeText      { }

#xfABMMainTable     {  }

#xfABMMainTable td  { padding: 5px; }
#xfABMMainTable th  { background-color: #006699; font-weight: bold; text-align: center;   color: #FFFFFF; padding: 5px; }
#xfABMMainTable .xfABMMainTitle, .xfABMFormTable .xfABMMainTitle    { text-align: right; font-weight: bold; font-size: 12pt; background-color: #006699; color: #FFFFFF; -moz-border-radius: 10px; padding: 5px; }
td.xfABMMainControls { text-align: right; }
td.xF_MassDelete { text-align: right; }
table.xfABMFormTable td.xfABMMainControls  { white-space: nowrap; text-align: right; }

#xfABMMainTitle     { margin: 0; padding:0; display:block; width: 98%; text-align: right; font-weight: bold; font-size: 12pt; background-color: #CCCCCC; color: #FFFFFF; -moz-border-radius: 10px; padding: 5px; }

.inDialog #xfABMMainTitleFr #xfABMMainTitle {
    position:fixed; -moz-border-radius: 0; width: 100%;
    position:expression('absolute');
    top: expression(eval((document.documentElement&&document.documentElement.scrollTop)?document.documentElement.scrollTop:document.body.scrollTop));
    right: expression("0px");
}
.inDialog #xfABMMainTitleFr { height: 55px; vertical-align: top; }

#xfABMFilterTable th  { font-weight: normal; text-align: left; background-color: white; color: #006699; }
#xfABMFilterTable td  { padding: 0; text-align: left; white-space: nowrap; }

.xfABMFormTable     { width: 100%; vertical-align:top; -moz-border-radius: 10px;  }
.xfABMFormTable th  { background-color: #EEEEEE; font-weight: normal; text-align: left; color: #006699; width: 30%; vertical-align: top }
.xfABMFormTable th .required { font-weight: bold; }
.xfABMFormTable td  { text-align: left; }
.xfABMFormTable .focused { background-color: lightblue; }
.xfABMFormTableDescription {display: block; margin-left: 30px; margin-top: 5px;margin-bottom: 10px; }
#xfABMForm .errors { font-size: 12pt; font-weight: bold; color: red; }

#xfABMDataTable                 { border: 1px solid black; }
#xfABMDataTable tr td           { }
#xfABMDataTable tr.rowOdd       { background-color: #EEEEEE; }
#xfABMDataTable tr.rowEven      { background-color: #FFFFFF; }
#xfABMDataTable tr.rowRuled     { background-color: #CCCCCC; }
#xfABMDataTable tr.rowSelected  { background-color: #CCFFCC; }

.clear { clear: both; }

fieldset { -moz-border-radius: 10px; }

.XFormsWidget_TextArea		{
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.xfABMFormTable .subtitulo  {  font-weight: bold; text-align: left; color: #006699;}
/**
Widget styles
**/
.xfABMWidgetNumber      { text-align: right; white-space: nowrap; }
td.xfABMWidgetButton    { width: 1%; }
.xfABMWidgetButton input{ width: auto; padding: 1px margin:0px; border: 1px outset white; }

.xfABMWidgetCurrency_neg{ color: red}

.xfABMWidgetDate { white-space: nowrap; }

/**
User styles
**/
.emailVacio     { background-color: red; }
.xNPagesMenu    { padding: 5px; background-color: #CCCCCC; }
.xNPagesMenu a  { text-decoration:none; font-weight: bold; padding: 2px; border: 2px outset #CCCCCC; }

a.xfButtonBase,a.xfABMWidgetButton { border: 2px outset white; text-decoration: none; font-size: 9pt; padding: 3pt; background-color: #EFEBE7; color: black; }

td.xfABMMainControls .xfButtonView,
td.xfABMMainControls .xfButtonUpdate,
td.xfABMMainControls a.xfButtonView,
td.xfABMMainControls a.xfButtonUpdate { font-size: 7pt; padding:1; }

.xfButtonBase { margin-left: 3px; }

.tabSheetSelector            { display: block; margin: 0px; padding: 0px; }
.tabSheetSelector li         { display: inline; text-align: center; cursor: pointer; }
.tabSheetSelector li a	     { display: block; text-decoration: none; padding: 2px 4px 2px 4px; margin: 0px 2px 0px 0px ;border-left: 1px solid #006699;border-top: 1px solid #006699;border-right: 1px solid #006699; float: left; font-size: 10pt; background-color: #006699; color: white; }
.tabSheetSelector .selected a{ background-color: white; color: black; }
.tabSheet                    { display: block; border: 1px solid #006699; height: 100%; min-height: 100%; }

.xfABMFormTable .XFormsWidgetTextField, .xfABMFormTable textarea { width: 90%; }

#xfChangesMadeMessage { display: none; color: red; }
/**
* GUI Window
**/
.guidialogFrame {
    display:none; position: absolute;
    top:30px; left:50px; z-index:100;
    width:800px; height:430px;
    text-align:left; padding: 0;margin:0;
    border: 2px solid #006699; background-color: #006699;
}
.guidialogContent { width: 100%; height: 95%; border: none; background-color: white; }
.guidialogTitle { background-color: #006699; color: white; text-align: right; font: 1em bold sans-serif; text-transform: uppercase; }
.guidialogTitle a { color: white; text-decoration: none; font-size: 15px;}
.guidialogFrame[id] { position:fixed; }
.guidialogLoading { display:none; position: absolute; top: 50%; left: 49%; z-index:11; }

#overlay {
    display:none; position:absolute; top:0; left:0;
    width:100%; height:100%; z-index:10;
    background-image: url(bg.gif);
    background-color:#FFFFFF;
    -moz-opacity: 0.8; opacity:.80; filter: alpha(opacity=80);
}
#overlay[id] {
	position:fixed;
}

